.inputelement{
  width: 90%;
  margin: auto;
  margin-top: 20px;
  font-size: 30px;
}
input{
  height: 65px;
}

.container-cal{
  margin: auto;
  margin-top: 20px;
  min-width: 400px;
  position: absolute;
}
.button{
  border: none;
  min-height: 70px;
  min-width: 80px;
  border-radius: 20px;
  margin: 0 5px 15px 13px ;
  font-size: 25px;
}
.buttons{
  margin: 20px 0 0 30px;
}